* {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  background-color: aliceblue;
}

.head {
  background-color: rgb(2, 2, 39);
  padding-left: 5%;
  padding-right: 5%;

}

.header {

  height: fit-content;
  width: 100%;
  background-color: rgb(2, 2, 39);
}

.logoline {
  display: inline-flex;
  padding: 0 0.5rem 0 0.5rem;
  align-items: center;
  width: 100%;
  position: a;
}

.addline {

  margin-top: 5px;
  background-color: rgb(3, 3, 65);
}

.addline img {
  width: 100%;
}

.logo {

  img {
    width: 100%;
    height: auto;
    margin: 4px;
  }
}

.search {
  align-items: center;
  width: 100%;
  border: solid 2px;
  height: 30px;
  border-color: rgb(2, 2, 39);
  border-radius: 5px;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
}

.search input {
  outline: none;
  margin: 0.5rem;
  width: 97%;
  background-color: transparent;
  border: none
}

#search {
  width: 8rem;
  height: 3rem;
  background-color: rgba(250, 198, 86, 0.836);
  border-radius: 5px;
  margin-left: 5px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.logoline a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.logoline a img {
  width: 50%;
  margin: 0 0.5rem 0 0.5rem;

}



.gift a {
  color: white;
  margin-top: 1.5rem;
  padding-inline: 20px;
  font-size: 1.5rem;
  justify-content: center;
  text-decoration: none;
  text-wrap: nowrap;

}

.gift {
  overflow-x: scroll;
  white-space: nowrap;
  display: inline-block;
  justify-content: center;
  scroll-behavior: smooth;
}

.gift a img {
  width: 2%;
  position: relative;
  top: 10px;
  right: 10px
}

/*main bosy*/
.main {
  padding-left: 5%;
  padding-right: 5%;
  background-color: aliceblue;
}

.sliderline {
  margin: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  

}

.slide1 {
  margin: 5px;
  border: solid 2px white;
  width: fit-content;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.slide1 ul{
  list-style-type: none;
  
}
.slide1 ul li{
  
 
  margin-top: 5px;
  flex-wrap: nowrap;
 
  font-size: smaller;
}

.slide2 {
  margin: 5px;
  border: solid 2px white;
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 5px;
}
.slide2 img{
  width: 50%;
  height: 50%;
}

.slide3 {
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
}

.slide3a {
  background-repeat: no-repeat;
  border: solid 2px white;
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 5px;

}

.slide3b {
  border: solid 2px white;
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 5px;

}

.slide3a img {
  width: 100%;
  
}

.slide3b img {
  width: 100%;
 
}

.slider {
  overflow-x: auto;
  white-space: nowrap;
}

#slider1 img {
  animation: slide 15s infinite;
}

#slider1 img {
  display: inline-flex;
  object-fit: cover;
  height: 400px;

}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-300%);
  }
}




}
.categline{
  box-sizing: content-box;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
  overflow-x: scroll;
  flex-wrap: nowrap;
  justify-content:center;
}
.categitem img{
  margin: 1rem 3rem 0 3rem;
 
}
.fel{
  margin: 10px 0 10px 0;
  padding: 5px;
  background-color: white;
  display: flex;
  border-radius: 5px;
  align-items: center;
  width: 100%;
}
.fel h3{
  font-size: 2rem;
  width: 97%;
}
#felibt{
  align-self:right;
  float: right;
  background-color: rgb(5, 5, 80);
  height: fit-content;
  color: white;
  text-wrap: nowrap;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px

}
.phoneline{
  box-sizing: content-box;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
  overflow-x: scroll;
  flex-wrap: nowrap;
  justify-content:left;
}
.phone{
  background-color: white;
  padding: 5px;
  margin: 0 10px 10px 10px;
  border-radius: 5px;
  justify-items: center;
  text-align: left;
  text-wrap: nowrap;
}
.phone img{
  width: 80%;
  height: auto;
}
.brandline{
  justify-items: center;
  padding: 10px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}
.brandline img{
  width: 10rem;
}


  
