*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}
body{
  background-color: aliceblue;
}
:root{
  --primary_color: #000a2b;
  --width: 75%;
  --font-default: 13px;
  --font-size: 1.5rem;
}

header{
height: fit-content;
background: var(--primary_color);  
display: flex;
flex-shrink: 0;
}

header .animation_image{
  height: 50px;
  
}
header .animation_image img{
  width: 100%;
  height: 100%;
}

.header_nav_search{
  height: 55px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;

}
.header_nav_search_bar{
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_nav_search_bar .logo{
 width: 140px;
 height: 80%;
 
 
}
.fa-bars, .fa-circle-user, .fa-shopping-cart, .fa-shopping-cart{
  font-size: 30px !important;
  color: white;
}
.header_nav_search_bar .logo img{
  height: 80%;
  object-fit: contain;
  width: 140px;
 
}

.header_nav_search_search{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  
  
  
  
}



.header_nav_search_search .search{
  width: 100%;
  height: 100%;
  padding-left: 10px;
  outline: none;
  border: none;
  display: block;
  border-radius: 5px;
}
.header_nav_search_search .search::placeholder{
  font-size: 17px;
}
.search_btn{
background-color: rgb(235, 150, 4);
display: block;
height:100%;
color: white;
width: 150px;
border-radius: 5px;


}
.header_nav_search_account{
  width: 650px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
 
}
.header_nav_search_account a{
  display: flex;
  align-items: center;
  color: inherit;
  gap: 10px;
}
.header_nav_search_account a span{
  color: white;
}
.gift_nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  overflow-x:hidden;
  margin-top: 10px;
  background-color: aliceblue;
  
}
.gift_nav_item{
  display: flex;
  background-color: #000a2b;
  align-items: center;
  gap: 4px;
  


}
.gift_nav_item img{
  width: 1.5rem;
  
}
.gift_nav_item a{
  color: rgba(245, 193, 103, 0.712);
  font-size: var(--font-default);
  text-decoration: none;
  text-wrap: nowrap;
}
.slider_line{
  background-color: blue;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;

} 
.slider_line_slide1{
  width: 20%;
  display: flex;
  flex-direction: column;
  text-justify: start;
  border: solid white 1px;
  background-color: white;
  padding: 5px;

}
.slider_line_slide1 a{
  font-size: ;
}









.container{
  width: var(--width);
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;
  
}

